{
  "branches": ["development"],
  "extends": [
    "semantic-release-monorepo"
  ],
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "docker build -t yourdockerhub/catalogservice:${nextRelease.version} . && docker push yourdockerhub/catalogservice:${nextRelease.version}"
      }
    ]
  ]
}